<% myDate.forEach(function(date){ %>
<h1><%= date.title %></h1>
<div class="well">
  <% date.venues.forEach(function(venue){ %>
    <h3><%= venue.name %></h3>
    <h5><%= venue.address %></h5>
    <h5><%= venue.city %>, <%= venue.state %></h5>
    <h5><%- link_to ('more info',venue.url )  %></h5>
  <% }); %>
</div>
<% }); %>
